{% extends 'userNavigation.html'%}

{% load static %}

{% block body %}

<style>
    table {
        font-size: .7rem;
        width: 100%;
    }
</style>
<!-- data table -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#viewNotes").DataTable();
    });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap4.min.css">


<!-- style sheet -->
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/admin.css'%}">

<div class="container mt-2 p-5">
    <div class="row">
        <div class="col-12  text-center">
            <h3>Rejected Notes </h3>
        </div>

        <div class="col-12 mt-3 overflow-auto">
            <table class="table table-bordered text-center" id="viewNotes">
                <thead>
                    <tr>
                        <th>Serial No</th>
                        <th>Upload By</th>
                        <th>Upload date</th>
                        <th>Branch</th>
                        <th>Subject</th>
                        <th>Download</th>
                        <th>File Type</th>
                        <th>Status</th>
                     </tr>
                </thead>

                <tbody>
                    {% for i in notes %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                        <td>{{i.uploadDate}}</td>
                        <td>{{i.branch}}</td>
                        <td>{{i.subject}}</td>
                        <td><a href="{{i.NotesFile.url}}" class="btn btn-success btn-sm" download><span
                                    class="fa fa-download"></span></a></td>
                        <td>{{i.type}}</td>
                        <td>{{i.status}}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}