    
{% extends 'userNavigation.html' %}
{% load static %}
{% block body %}

<!-- style sheet -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<section class="container mt-5 text-center pt-5">
    <h1>Hello , {{ request.user.first_name }} <br> Welcome To Notes sharing site  </h1>
</section>




{% endblock %}